@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
*,:after,:before {
    box-sizing:border-box
}

html {
    font-size:100%
}

body {
    margin:0;
    font-family: 'Rubik', sans-serif;

    font-size:1rem;
    color:#fff
}
h3 {

    font-family: 'Bowlby One SC', cursive;
    font-size: 1rem;
    font-weight: 400;
}


aside,footer,main,section {
    display:block;
    margin:0;
    padding:1.25rem;
    /*border:1px solid #000;*/
    color:#fff
}

main {
    background:#000;
    padding: 0;
}

.wrapper {
    margin:auto;
    max-width:75rem
}


.header {
    background:#03a9f4
}

.hero {
    background:#d22b1f
}
@media screen and (min-width:640px) {
    .flex-container{display:flex}
}
.content {
    flex:1;
    background:#129a22
}
.sidebar {
    flex:0 1 300px;
    background:#673ab7
}
.footer,.sidebar {
    border:1px solid #000
}
.footer{
    background:#616161
}

/* Add a black background color to the top navigation */
.topnav {
    padding: 0 5em;
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: row;

}
.nav-logo {
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    margin-right: 3em;
}
.nav-links {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
    /*align-content: space-around;*/
}
.nav-links a {
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
